h1{
    background-color: black;
    text-align: center;
    color: rgb(182, 211, 100);
}
div >p{
    text-align: center;
    text-decoration: underline;
    font-style: oblique;
}
h2{
    color: white;
    background-color: black;
    text-align: center;
}
p{
    font-weight: 900;
}
a{
    text-align: center;
    font-weight: bold;
}
p >img.sandwich{
    margin-right: 0.8em;
}
p >img.roll{
    margin-right: 0.8em;
}
p >img.Refreshment{
    margin-right: 1%;
}
